.page_content{
    background-color: #b3ffff;
}
.Main_page{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    font-size: 20px;
}
h4{
    text-align: center;
    text-decoration: underline;
}


.Main_page img{
    padding-top: 5px;
    width: 500px;
    height: 300px;
}

.footer{
    position: relative;
    padding-left: 630px;
    height: 180px;
    margin-top: -4px;
    
}

#addCart{
    position: relative;
    border: none;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}

#addCart :nth-child(2){
    background: linear-gradient(90deg,#755bea,#ff72c0);
}

#checkoutbtn{
    position: relative;
    border: 2px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 40px;
    overflow: hidden;
    background-color: black;
}

#checkoutbtn :nth-child(2){
    background: linear-gradient(90deg,#755bea,#ff72c0);
}
span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


#DairyProduct{
    display: inline-block;
}

[type="checkbox"]{
    vertical-align:middle;
}

  label[class="textOverImage"]{
    border-radius: 25%;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
 
  }
  
  label[class="textOverImage"]:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 20%;
    border: 5px solid blueviolet;
    position: absolute;
    top: -5px;
    left: -5px;

    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label[class="textOverImage"] img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: center;
  }
  
  :checked +  label[class="textOverImage"] {
    border-color:blueviolet;
  }
  
  :checked +  label[class="textOverImage"]:before {
    content: "Added";
    color:white;
    background-color: blueviolet;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }