.page_content{
    background-color: #b3ffff;
}
.Main_page{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    font-size: 20px;
}
h4{
    text-align: center;
    text-decoration: underline;
}


.Main_page img{
    padding-top: 5px;
    width: 500px;
    height: 300px;
}

.footer{
    position: relative;
    padding-left: 630px;
    height: 180px;
    margin-top: -4px;
    
}

#addCart{
    position: relative;
    border: none;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}

#addCart :nth-child(2){
    background: linear-gradient(90deg,#755bea,#ff72c0);
}

span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }